html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-image: linear-gradient(#ff9500, #ff5e3a);
  font-family: Overpass, sans-serif;
  color: #fff;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

.icon {
  fill: #fff;
}

.icon svg {
  height: 8rem;
  width: 8rem;
  display: block;
  margin: auto;
}

h1 {
  text-align: left;
}

h3 {
  font-size: 1.125rem;
  text-align: left;
  font-weight: lighter;
}

a {
  border: .2rem solid rgba(255, 255, 255, .7);
  padding: 6vmin;
  text-decoration: none;
  color: #fff;
  margin-top: 1rem;
  display: inline-block;
  margin-bottom: 1rem;
}

a:hover {
  color: #fff;
}

@media only screen and (min-width: 38em) {

  html {
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
    text-align: center;
  }

  body {
    padding: 2rem;
    margin: 1rem 0;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 2.1rem;
  }

  main {
    margin-top: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  a {
    padding: 1rem;
    margin: auto;
    font-size: 1.125rem;
    text-align: left;
  }

}

@media only screen and (min-width: 60em) {

  body {
    margin: 1.5rem;
    padding: 1.5rem;
  }

  section {
    margin-bottom: 6vmin;
  }

  h1 {
    padding: 2rem;
    display: flex;
  }

  h3 {
    padding: 1rem 1.5rem;
  }

}
